body {
 background: url(../images/pinkside.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-decoration: none;
}

#into {
  position: relative;
  top: 360px;
  left: 20px;
  text-align: center;
  -webkit-animation-duration: 10s;
  -webkit-animation-delay: 3s;
}


#navBar {
 height: 1200px;
 background: url(../images/greenAgain.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#footerIndex {
  height: 230px;
}

#footerText {
padding-top: 155px;
  margin-left: 20px;

}
.fontAwesome {
  padding-right: 20px;
   color: white;
   margin-left: 20px;
   float: right;
   font-size: 22px;
   margin-top: -30px;
   letter-spacing: 10px;
}

#logo {
  padding-top: 10px;
  padding: 40px;
  position: fixed;
}


#screen_Nav ul {
  width: 100%;
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
    border-bottom: 2px dotted white;
  border-bottom-color: white;
  -webkit-transition: top 0.15s ease-in-out;
  -moz-transition: top 0.15s ease-in-out;
  -o-transition: top 0.15s ease-in-out;
  transition: top 0.15s ease-in-out;
  text-align: center;
  
}


#screen_Nav li a {
  display: block;
  text-decoration: none;
  border-top: 2px dotted #f0eeef;
  border-top-color: #f0eeef;
  padding: 28px 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background: transparent;

}



#screen_Nav li a:hover {
  text-decoration: none;
  padding: 46px 0;
  background: #000000;
  background: rgba(0, 0, 0, 0.3);
}

#screen_Nav li .container {
  overflow: hidden;
  height: 0;
  position: relative;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

h1 {
	font-family:'Brandon Grotesque';
	font-weight: 300;
	font-size: 25px;
	color: #aeb9b3;
	letter-spacing: 10px;
}

h2 {
	font-family:'Lato', sans-serif;
	font-size: 22px;
	color: #5b5b5a;
  font-weight: 300;
  letter-spacing: 5px;
  text-decoration: none;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 13px;

}

h5 {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  color: #f0eeef;

}
span {
  letter-spacing: 1px;
  margin-left: 15px;
  color: #5b5b5a;
}

.nav {
      padding: 56px 0px 0px 0px;
      background-color: #a5afa9;
      height: 150px;
      width: 100%;
      font-family: 'Lato', sans-serif;
      text-align: left;
      border: none;
    
}

.row a {
  color: white;
  font-family: 'Brandon Grotesque';
  letter-spacing: 1px;
  text-transform: none;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;

}


.row a:hover {
  color: #b77272;
  text-decoration: none;
    }

    

.row a:active {
  color: #817f7f;
  text-decoration: none;
  }


#aboutTextBackground {
  background-color: white;
  width: 50%;
  height: 1300px;
  margin-top: 70px;
}

#container {
    height: 1300px;
    background-color: #f0eeef;
  

}

h3 {
    margin-left: 62%;
  margin-top: -1090px;
  font-family:'Lato', sans-serif;
  font-size: 22px;
  color: #5b5b5a;
  font-weight: 300;
  letter-spacing: 5px;
  
}
   
h6 {
font-family:'Brandon Grotesque';
  font-weight: 300;
  font-size: 17px;
  color: #5b5b5a;
  letter-spacing: 2px
  text-align: justify;
  margin-left: 62%;
  margin-right: 15%;
  line-height: 120%;
  text-decoration: none;


}

.education {
  font-family:'Brandon Grotesque';
  font-weight: 600;
  font-size: 13px;
  color: #b77272;
  margin-left: 62%;
}

.experience {
  font-family:'Brandon Grotesque';
  font-weight: 600;
  font-size: 13px;
  color: #b77272;
  margin-left: 0%;
}

#footerColor {
  background: url(../images/pinkside.png) no-repeat bottom right fixed; 
  height: 80px;
}

.notUnderline {
  text-decoration: none;
}

#bioText {
  text-decoration: none;
  text-align: justify;
}
..navbar-default {
border: none;

}

a:hover {
  text-decoration: none;
}